*{
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 20px;
}
  

nav{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 90px; */
    display: flex;
    align-items: center;   
    background-color: #b12e06;
    padding:20px 0px 20px 0px;
}

nav img{
    width: 120px;
    margin-left: 100px;
    margin-top: 8px;
}

nav ul
{
    margin-right: 100px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li
{
    display: inline;
    margin: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

header div{
    /* border: 1px solid red; */
    overflow: hidden;
}

#header_img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

main{
    display: flex;
    flex-direction: column;

}

.index_main{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    padding: 20px
}

.h2_heading{
    font-family: "RNS Sanz", Sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #b12e06;
    letter-spacing: 2px;
    /* margin-top: 50px; */
    padding-bottom: 0px;
}

#title_para{
    font-size: 24px;
    width: 80%;
    letter-spacing: 1px;
    margin: 40px auto 0px auto;

}

.content{
    width: 80%;
    margin: auto;
    padding: 20px;
}

.spices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 0px auto;
    /* flex-wrap: wrap; */
}

.div_spices{
    width: 100%;
    height: 500px;
    max-width: 500px;
    border: 8px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    overflow: hidden;
}

.spices_image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 1s;
}

.spices_image:hover{
    transform: scale(1.3);
}

.spices_info{
    margin: 40px;
}

h2{
    font-family: "RNS Sanz", Sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #b12e06;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.content2{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.regions{
    /* margin-top: 40px; */
    width: 80%;
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #b12e06;
    padding: 15px 0px;
}
#copyright {
    font-family: serif;
    font-style: italic;
    font-size: medium;
    text-align: center;
    width: 100%;
    clear: both;
  }
 
  footer > p{
    color: white;
    background-color: #b12e06;
  }
  footer > div {
    flex-grow: 1;
     
  }
  nav > ul li a:hover {
    color: black  ;
    transition: .3s;  }
  footer > ul{
    text-align: center;
    
  }
  
  .image-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 60px;
    
  }
  
  .image-collage img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    
    /* border: black; */
    /* border: 5px solid black; */
    margin-left: 5px;
    margin-right: 5px;
  }
  
  
  .image-collage .row {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .image-zoom {
    overflow: hidden;
    position: relative;
  }
  .image-zoom img{
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
.image-zoom:hover img{
    transform: scale(1.1);
    
    
}

.breakfast{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 20px;
    
    overflow-x: scroll;
    padding: 20px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    /* margin: 80px auto 80px auto; */
}

.div_breakfast{
    /* width: 100%; */
    height: 350px;
    max-width: 350px;
    border: 8px solid #fff;
    box-shadow: 0 0px 16px 0px rgba(0,0,0,.2);
    border-radius: 10px;
    overflow: hidden;
}

.span{
    margin-top: 5px;
    text-align: center;
    border: 8px solid #b12e06;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    background-color: #b12e06;
    color: #fff;
    /* overflow: hidden; */

}

a{
    text-decoration: none;
    color: #fff;
}

h3{
    margin-left: 0;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.categories_header{
    margin-left: 10px;
}

hr{
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.recipes {
    width: 80%;
    margin: auto;
  }
  
  .rec_des {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 80px auto 80px auto; */
    /* margin: 80px auto; */
  }
  
  .recipe {
    width: 370px;
    height: 550px;
    max-width: 500px;
    border: 8px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .rec_image {
    width: 100%;
    height: 550px;
    object-fit: cover;
    transition: transform 1s;
  }
  
  .rec_image:hover {
    transform: scale(1.3);
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .rec_info {
    /* align-items: flex-end; */
    margin: 0px 0px 0px 20px;
    float: right;
    border: 1px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
    border-radius: 10px;  
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 20px;
    padding: 0px 0px 15px 0px;
}
.rec_info div{
    margin-left: 22px;
    margin-right: 22px;
}
  
 
  
  .roww{
    display: flex;
    margin: 0px auto;
    padding: 20px;
  }
  
  
  .rec_container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
 
  .rec_grid {
    font-size: medium;
    flex-wrap: wrap;
    display:flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  
  .small {
    margin: 9px;
    width: calc(100% / 4);
    height: 60px;
    width: 60px;
  }

.rec_font li
{
    font-size: medium;
}

.rec_font 
{
    font-size: medium;
    line-height: 1.4rem;
}
.rec_info h3{
    color: #b12e06;
    /* border:1px solid red; */
    padding-top: 20px;
}
.card_info{
    padding-left: 22px;
    
}
#copyright{
    text-align: center;
    background-color: #b12e06;
    padding-bottom: 10px;
    font-size: 14px;
    color: #fff;
}

.links ul{
    margin: auto;
}

#india{
    width: 100%;
    height:500px;
    object-fit: contain;
}

.india_border{
    width: 100%;
    height: 500px;
    max-width: 800px;
    /* border: 8px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    border-radius: 10px; */
    overflow: hidden;
}

#read_more{
    font-size: medium;
    line-height: 1.4rem;
    color: #b12e06;
    list-style: none;
}

#read_more:hover{
    cursor: pointer;
}


/* Mobile view */
@media screen and (max-width: 1024px){
    .roww {
      flex-direction: column;
      justify-content: center;
    }

    .recipe{
        margin: auto;
    }

    nav{
        flex-direction: column;
    }

    h2{
        font-size: 1.5rem;

    }

    nav img{
        width: 120px;
        margin-left: 0px;
        margin-top: 8px;
    }

    .categories_header h3{
        text-align: center;
    }

    nav ul{
        margin: auto;
    }

    .div_spices{
        margin: auto;
    }
    .spices{
        margin: auto;
        flex-wrap: wrap;
    }
    .recipes {
        width: 95%;
    }

  }
  
  .ul_gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 87%;
    margin: auto;
    padding: 20px;
    padding-bottom: 40px;
  }
  
 .li_gallery {
    height: 40vh;
    flex-grow: 1;
    list-style: none;
  }
  
  .imgs_gallery {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    transition: transform .5s;
  }

  .imgs_gallery:hover{
    transform: scale(1.1);
}



.contact_section{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.form-input{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* width: 800px;
    height: 700px; */
    margin: 0;
    /* border: 1px solid red; */
}

#form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    width: 800px;

}

.input-box{
    padding:10px;
    margin: 12px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    transition: all .2s linear;
    outline: 0;
    width: 500px;
}

.input-box:focus {
    border: 1px solid #1d3557;
}

.wrapper{
    border: 1px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    width: 600px;
    padding: 30px;
}

.input-submit{
    background-color: #b12e06;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
    border-radius: 15px; 
    padding: 10px;
}

#remaining_words{
    font-size: 14px;
    margin-left: 10px;
}


.nav-link[aria-current="page"]{
    color: black;
}
.more1
{
    display: none;
}
.more2
{
    display: none;
}
.more3
{
    display: none;
}
.more4
{
    display: none;
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
  }
  
  .hover-underline-animation::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    bottom: -3px;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .hover-underline-animation:hover::after {
    width: 100%; 
  left: 0; 
  }

  .categories_title:hover{
    cursor: pointer;
    
  }
  .modal{
    width: 60%;
    margin: auto;
    border-radius: 20px;
    /* border: 0px; */
    padding: 25px;
}

.modal-body{
    margin-top: 20px;
}

.close-btn{
    transform: scale(2);

}

.close-btn:hover{
    cursor: pointer;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}
  .modal::backdrop{
    background-color: rgba(0, 0, 0, .5);
  }
  
  
  .time{
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
    color: #fff;
  }

  .container-fluid{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }

  #searchBtn{
    background-color: #b12e06;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
    border-radius: 15px; 
    padding: 10px;
  }

  #search-input{
    padding:10px;
    margin: 12px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    transition: all .2s linear;
    outline: 0;
    width: 500px;
  }



  .gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
  }

  .gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    flex: none;
  }

  .gallery div img{
    width: 100%;
  }

  .gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }

  #backBtn , #nextBtn{
    cursor: pointer;
  }

  .card{
    flex-wrap: nowrap;
    flex: none;
    
  }