*{
    margin: 0px;
    font-family: "Baloo Da 2",Helvetica,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 24px;

}

nav{
    /* border: 1px solid red; */
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;   
    background-color: #b12e06;
}

nav img{
    width: 120px;
    margin-left: 100px;
}

nav ul
{
    margin-right: 100px;
    margin-left: auto;
}

nav ul li
{
    display: inline;
    margin: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: "RNS Sanz", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

header div{
    /* border: 1px solid red; */
    overflow: hidden;
}

#header_img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#index_main{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}

h2{
    font-family: "RNS Sanz", Sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #b12e06;
    letter-spacing: 2px;
    margin-top: 50px;

}

p{
    font-size: 24px;
    width: 80%;
    font-family: "Baloo Da 2",Helvetica,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content{
    width: 80%;
    margin: auto;
}

.spices{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#spices_image{
    width: 100%;
    height: 500px;
    max-width: 500px;
    object-fit: cover;
    border: 8px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    /* margin: 30px; */
}

.spices_info{
    margin: 40px;
}