*{
    margin: 0px;
    font-family: "Baloo Da 2",Helvetica,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 24px;

}

nav{
    /* border: 1px solid red; */
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;   
    background-color: #b12e06;
}

nav img{
    width: 120px;
    margin-left: 100px;
}

nav ul
{
    margin-right: 100px;
    margin-left: auto;
}

nav ul li
{
    display: inline;
    margin: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: "RNS Sanz", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

header div{
    /* border: 1px solid red; */
    overflow: hidden;
}

#header_img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#index_main{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}

#h2_heading{
    font-family: "RNS Sanz", Sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #b12e06;
    letter-spacing: 2px;
    margin-top: 50px;

}

#title_para{
    font-size: 24px;
    width: 80%;
    font-family: "Baloo Da 2",Helvetica,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 1px;
    margin: 50px auto 50px auto;

}

.content{
    width: 80%;
    margin: auto;
}

.spices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto 80px auto;

}

.div_spices{
    width: 100%;
    height: 500px;
    max-width: 500px;
    border: 8px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    overflow: hidden;
}

#spices_image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 1s;
}

#spices_image:hover{
    transform: scale(1.3);
}

.spices_info{
    margin: 40px;
}

h2{
    font-family: "RNS Sanz", Sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #b12e06;
    letter-spacing: 2px;
}

.content2{
    width: 80%;
    margin: auto;
}

.regions{
    /* margin-top: 40px; */
    width: 80%;
    margin: 80px auto 80px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #b12e06;
}
#copyright {
    font-family: serif;
    font-style: italic;
    font-size: medium;
  }
  #copyright {
    text-align: center;
  }
  #copyright {
    width: 100%;
    clear: both;
  }
  footer > p{
    color: white;
  }
  footer > div {
    flex-grow: 1;
    margin-bottom: 10px; 
  }
  nav > ul li:hover {
    text-shadow: 2px 2px 10px white;
  }
 